<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/199/xhtml">
    <head>
        <title>TechShop</title>
        <meta charset="UTF-8"/>
    </head>
    <body>
        <header th:fragment="header"class="header"> <!-- Etiqueta para ofrecerle al browser info de que es un encabezado-->       
            <nav class="nav"> <!-- Etiqueta para ilustrarle al browser que posiblemente es una menú-->
                <a th:href="@{/}" class="logo nav-link">TechShop</a>
                <ul class="nav-menu">
                    <li class="nav-menu-item">
                        <a class="nav-menu-link nav-link" th:href="@{/cliente/listado}"
                           th:text="#{plantilla.clientes}">Clientes</a>
                    </li>       
                    <li class="nav-menu-item">
                        <a class="nav-menu-link nav-link" th:href="@{/categoria/listado}"
                           th:text="#{plantilla.categorias}">Categorias</a>
                    </li> 
                    <li class="nav-menu-item">
                        <a class="nav-menu-link nav-link" th:href="@{/articulo/listado}"
                           th:text="#{plantilla.articulos}">Articulos</a>
                    </li> 
                </ul>                             
            </nav>
        </header>
        
        <footer th:fragment="footer" class="footer">
            <p>&COPY [[#{plantilla.derechos}]]
                <a th:href="@{/(lang=es)}">ES</a>
                <a th:href="@{/(lang=en)}">EN</a>
            </p>
        </footer>
    </body>
</html>
