<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/199/xhtml">
    <head>
        <title>TechShop</title>
        <meta charset="UTF-8">
    </head>
    <body>
        <header th:replace="layout/plantilla :: header"/>
        <h2>Datos de Cliente</h2>
        <a th:href="@{/}">Regresar</a>
        <br/>
        <form th:action="@{/guardarCliente}"
              method="post"
              th:object="${cliente}">
            <input type="hidden" name="idCliente" th:field="*{idCliente}"/>
            <label for="nombre">Nombre:</label>
            <input type="text" name="nombre" th:field="*{nombre}"/>
            <br/>
            <label for="apellidos">Apellidos:</label>
            <input type="text" name="apellidos" th:field="*{apellidos}"/>
            <br/>
            <label for="correo">Correo:</label>
            <input type="text" name="correo" th:field="*{correo}"/>
            <label for="telefono">Telefono:</label>
            <input type="text" name="telefono" th:field="*{telefono}"/>
            <input type="submit" name="guardar" value="Guardar"/>
            <br/>
        </form>
        <footer th:replace="layout/plantilla :: footer"/>
    </body>
</html>
